<header id="header">

    <nav class="top-navigation navbar navbar-expand-lg bg-primary">

        <div class="mr-auto">
            <a class="navbar-brand" href="/home">
                <img src="../../../assets/images/logo-vgr-white.svg" alt="VGR Logo" />
            </a>
        </div>

        <div class="my-2 my-lg-0">
            <ul class="header-actions">
                <li>
                    <a href="#">Logga in</a>
                </li>
            </ul>
        </div>

    </nav>
    <nav class="main-navigation navbar navbar-expand-lg bg-dark">

        <div class="container">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/start" routerLinkActive="active">Start</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/kurskatalog" routerLinkActive="active">Kurskatalog</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

</header>
