<div class="row">
    <div class="col-md-12">
        <h1>{{course.title}}</h1>
    </div>
</div>

<div class="row">

    <div class="col-md-4">

        <div class="card card-decorate">
            <div class="card-body">
                <h2>Kursinfo</h2>
                <div [innerHTML]="course.description"></div>    
            </div>
        </div>


    </div>

    <div class="col-md-8">

        <div class="card card-decorate">
            <div class="card-body">
                <h2>Kurstillfällen</h2>

                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Datum</th>
                        <th scope="col">Tid</th>
                        <th scope="col">Plats</th>
                        <th scope="col">Lediga platser</th>
                        <th scope="col">Anmälda</th>
                        <th scope="col">Anmälan</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let courseEvent of courseEvents">
                        <td>{{courseEvent.date}}</td>
                        <td>{{courseEvent.startTime}} - {{courseEvent.endTime}}</td>
                        <td>{{courseEvent.location}}</td>
                        <td>{{courseEvent.availableSeats}}</td>
                        <td>{{courseEvent.registrations}}</td>
                        <td>
                            <a href="" class="btn btn-primary">Anmäl dig</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>

            </div>
        </div>


    </div>

</div>