<div class="row">
    <div class="col-md-12">
        <h1>Välkommen</h1>
    </div>
</div>

<div class="row">

    <div class="col-md-8">

        <div class="card card-decorate">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <p>Detta är Sahlgrenska Universitetssjukhusets webbplats för bokning av HLR-utbildning.</p>
                        <p>Klicka på något av alternativen där du i ditt arbete är placerad.</p>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-md-4"></div>

</div>
